<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="gjxt.portal.api.mapper.HighSchoolMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="gjxt.portal.api.entity.HighSchool">
        <id column="id" property="id" />
        <result column="identification_code" property="identificationCode" />
        <result column="school_name" property="schoolName" />
        <result column="school_code" property="schoolCode" />
        <result column="school_code_type" property="schoolCodeType" />
        <result column="manage_code" property="manageCode" />
        <result column="addr_code" property="addrCode" />
        <result column="education_code" property="educationCode" />
        <result column="update_time" property="updateTime" />
        <result column="school_system" property="schoolSystem" />
        <result column="revoke" property="revoke" />
        <result column="school_type" property="schoolType" />
        <result column="manage_type" property="manageType" />
        <result column="create_type" property="createType" />
        <result column="orders" property="orders" />
        <result column="administrative_id" property="administrativeId" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="selectHighSchoolVo">
select
        id, identification_code, school_name, school_code, school_code_type, manage_code, addr_code, education_code, update_time, school_system, revoke, school_type, manage_type, create_type, orders, administrative_id
from high_school

    </sql>

</mapper>
